@media (max-width:580px)
{
		
	/* {
		padding-left: 1.8rem!important;

	} */
    .sm-loading {
        z-index: 999;
        inset: 0;
        background-color: #0D0D0D;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        height: 100vh;
        margin-top: 0px;
        padding-bottom: 70px;
    }
    .form-control{
        padding: 0;
    }
  
}
@media only screen and (max-width: 600px) {
    /* {
      width : 100% !important;
  
  } */
  .mmm{
      left : 0;
  }
  }

